.App {
  font-family: sans-serif;
  text-align: center;

}
body{
background: rgb(2,0,36);
background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 2%, rgba(0,212,255,1) 100%);
background-attachment: fixed;
height: 100%;
}
.main-page-layout{
  border:1px solid blue
}